<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl w-full text-red-600">
      Rate Limit Exceeded
    </h1>
  </div>

  <div>
    <p class="my-5">You have exceeded the number of allowed link clicks. Please try again later.</p>
  </div>
</div>